# Scikit-Learn으로 Iris 품종 분류하기

### 1) 전처리

In [1]:
from sklearn.datasets import load_iris
iris = load_iris()

In [3]:
iris.data.shape

(150, 4)

In [4]:
# Slicing으로 앞의 다섯 행만 보이게 함
iris.data[:5,:]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [5]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [6]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
iris.target.shape

(150,)

In [8]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [9]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

#### 데이터 프레임으로 보기

In [11]:
import pandas as pd

In [12]:
iris_df = pd.DataFrame(
    iris.data, columns=iris.feature_names
)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [13]:
iris_df['species'] = iris.target
iris_df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

In [15]:
iris_df.tail(3)

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
147                6.5               3.0  ...               2.0        2
148                6.2               3.4  ...               2.3        2
149                5.9               3.0  ...               1.8        2

[3 rows x 5 columns]

### 2) 학습용 데이터와 테스트용 데이터 분리

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(
    iris.data, iris.target, random_state=2021,
    test_size=0.2,                  # default는 0.25
    stratify=iris.target            # 데이터 분할이 품종별로 동일하게 해줌
)

In [18]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120,), (30,))

In [19]:
y_test

array([0, 1, 1, 2, 0, 1, 0, 1, 2, 0, 1, 1, 1, 2, 2, 0, 2, 0, 2, 0, 1, 2,
       0, 2, 2, 0, 1, 1, 2, 0])

### 3) 머신러닝 알고리즘을 적용해 학습

- 결정 트리(Decision Tree)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [24]:
# 객체 생성 - 모델 생성, 괄호 안은 Hyper Parameter
dtc = DecisionTreeClassifier(random_state=2021)

In [25]:
# 학습 수행 - fit() method
dtc.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=2021, splitter='best')

- SVM(Support Vector Machine)

In [26]:
from sklearn.svm import SVC
svc = SVC(random_state=2021)
svc.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=2021, shrinking=True,
    tol=0.001, verbose=False)

- 로지스틱 회귀(Logistic Regression)

In [27]:
from sklearn.linear_model import LogisticRegression
lrc = LogisticRegression(random_state=2021)
lrc.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=2021, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### 4) 학습된 모델을 기반으로 테스트 데이터에 대해 예측 수행

In [28]:
# predict() 메쏘드, 파라메터는 X_test
dt_pred = dtc.predict(X_test)
dt_pred

array([0, 1, 2, 2, 0, 1, 0, 1, 2, 0, 1, 1, 1, 2, 1, 0, 2, 0, 2, 0, 1, 2,
       0, 2, 1, 0, 1, 1, 2, 0])

In [29]:
sv_pred = svc.predict(X_test)
lr_pred = lrc.predict(X_test)

### 5) 예측값과 실제값을 비교해 모델 성능 평가

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
# 결정트리의 정확도 - 실제값, 예측값
score = accuracy_score(y_test, dt_pred)
print(f'결정트리의 정확도: {score:.4f}')

결정트리의 정확도: 0.9000

### 4), 5)번을 한꺼번에

In [32]:
dtc.score(X_test, y_test)

0.9

In [33]:
svc.score(X_test, y_test)

0.9

In [34]:
lrc.score(X_test, y_test)

0.9333333333333333

### 실제값과 모델별 예측치

In [36]:
pred_df = pd.DataFrame({
    '실제값': y_test, '결정 트리': dt_pred,
    'SVM': sv_pred, '로지스틱 회귀': lr_pred
})

In [37]:
pred_df

    실제값  결정 트리  SVM  로지스틱 회귀
0     0      0    0        0
1     1      1    1        1
2     1      2    1        1
3     2      2    2        2
4     0      0    0        0
5     1      1    1        1
6     0      0    0        0
7     1      1    1        1
8     2      2    2        2
9     0      0    0        0
10    1      1    1        1
11    1      1    1        1
12    1      1    1        1
13    2      2    1        2
14    2      1    1        1
15    0      0    0        0
16    2      2    2        2
17    0      0    0        0
18    2      2    2        2
19    0      0    0        0
20    1      1    1        1
21    2      2    2        2
22    0      0    0        0
23    2      2    2        2
24    2      1    1        1
25    0      0    0        0
26    1      1    1        1
27    1      1    1        1
28    2      2    2        2
29    0      0    0        0